.header {
    display: flex;
    background-color: $background;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;

    &-Logo {
        
        .logo {
            width: 200px;
        }
    }

    &-Links {
        margin-left: 70px;
        flex:1;

        a  {
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            padding-right: 24px;

            &:hover {
                color: $purple;
            }
        }
    }


}