@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');




// font-family
$font-family: 'Montserrat', sans-serif;


// colors
$primary: #6D4D9F;
$purple: #7361AB;
$light-purple: #E8DFF8;
$dark-purple: #0A0612;
$background: #020104;
$black: #000;
$white: #fff;

// navbar
$navbar-padding-y: 20px;
$navbar-padding-x: 45px;

//btn


//spacer
$m25: 25px;
$m30: 30px;
